@use '../../styles/color' as C;
@use '../../styles/utils' as U;
@use '../../styles/typography' as T;

.container {
  @include U.flex-c(row, flex-start, flex-start);
  gap: 8px;
  img {
    width: 88px;
    height: 64px;
    border-radius: 12px;
  }
}

.timeTextBox {
  @include U.flex-c(column, flex-start, flex-start);
  // width: 260px;
  p {
    @include T.gray600-regular-12;
    // @if (img) {
    //   width: calc(100% - 88px);
    // } @else {
    //   width: 100%;
    // }
    // white-space: normal;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // word-break: break-word;
    // text-overflow: ellipsis;
  }
}
