@use '../../styles/utils' as U;
@use '../../styles/color' as C;
@use '../../styles/typography' as T;

.container {
  position: absolute;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 120px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 120px);
}

.modal {
  overflow: scroll;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  @include U.size(100%, auto);
  max-width: 640px;
  background-color: C.$white;
  z-index: 3001;
}

.title {
  @include U.flex-c(row, space-between, center);
  @include T.gray900-bold-18;
}

.close {
  @include T.gray900-regular-14;
}

.carousel {
  padding: 20px 0;
  border: 1px solid C.$gray400;
  border-radius: 12px;
  overflow: hidden;
}

.carouselBtnImgBox {
  @include U.flex-c(row, center, center);
  position: relative;
}

.leftBtn {
  @include U.size(32px);
  position: absolute;
  left: 8px;
  background-color: rgba($color: #212121, $alpha: 0.1);
  border-radius: 32px;
  z-index: 4000;
}

.rightBtn {
  @include U.size(32px);
  position: absolute;
  right: 8px;
  background-color: rgba($color: #212121, $alpha: 0.1);
  border-radius: 32px;
  z-index: 4000;
}

.leftNoBtn {
  position: absolute;
  left: 8px;
  @include U.size(32px);
}

.rightNoBtn {
  position: absolute;
  right: 8px;
  @include U.size(32px);
}

.imgContainer {
  overflow: hidden;
  width: 200px;
}

.flexBox {
  @include U.flex-c(row, flex-start, center);
  transition: transform 1s;
}

.img {
  @include U.size(200px, auto);
  object-fit: contain;
  flex: none;
}

.carouselText {
  text-align: center;
  margin-top: 20px;
  @include T.gray900-regular-16;
  width: 200px;
  word-break: keep-all;
  height: 48px;
}

.aWeekClose {
  margin: 20px 0;
  @include U.flex-c(row, flex-start, center);
  gap: 4px;
}
