@use '../styles/utils' as U;
@use '../styles/color' as C;
@use '../styles/typography' as T;

.container {
  @include U.flex-c(column);
  gap: 16px;
}

.snapBox {
  @include U.flex-c(column);
  gap: 20px;
  margin: 0 20px 20px;
  padding: 24px 20px;
  background: C.$white;
  border-radius: 12px;
  @include U.box-shadow(4px);
  overflow: hidden;
}

.snaplist {
  @include U.flex-c(column, flex-start, flex-start);
  gap: 16px;
  width: 100%;
  position: relative;
}

.stopWalkForm {
  padding: 12px 20px 24px;
  background: C.$white;
}

.messageInput {
  @include U.size(100%, 48px);
  border: none;
  appearance: none;
  background: C.$gray100;
  border-radius: 12px;
  padding: 0 20px;
  margin: 24px 0 12px;
  &::placeholder {
    color: C.$gray400;
  }
  &:focus {
    border: 1px solid C.$gray600;
  }
}
.stopWalkFormButton {
  @include U.size(100%, 48px);
  @include T.gray900-bold-18;
  background: C.$gray900;
  border-radius: 12px;
  color: C.$white;
}
.publicOptionBox {
  span {
    @include T.gray900-bold-16;
  }
  @include U.flex-c(row, space-between, center);
}

.canvasElement {
  // position: absolute;
  // top: -9999px;
  // visibility: hidden;
}
