@use '../styles/utils' as U;

.container {
  width: 100%;
  @include U.flex-c(column);
  padding-top: 64px;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 120px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 120px);
}

.historyList {
  width: 100%;
  margin-top: 24px;
  @include U.flex-c(column);
  gap: 24px;
  padding: 0 20px;
}
