@use '../styles/color' as C;
@use '../styles/typography' as T;
@use '../styles/utils' as U;

.toggleBox {
  margin: 20px 20px 16px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid C.$gray200;
  button {
    height: 32px;
    flex-grow: 1;
  }
}

.btn {
  font-size: 1.4rem;
  background-color: C.$white;
}

.clickedBtn {
  @extend .btn;
  background-color: C.$gray900;
  color: C.$white;
}

.historyList {
  @include U.flex-c(column);
  gap: 24px;
  padding: 0 20px;
}
