@use '../styles/color' as C;
@use '../styles/typography' as T;

.container {
  padding: 20px;
  position: relative;
}

.toggleBox {
  width: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid C.$gray200;
  button {
    height: 32px;
    flex-grow: 1;
  }
}

.btn {
  width: 80px;
  height: 50px;
  background-color: C.$white;
}

.clickedBtn {
  @extend .btn;
  background-color: C.$gray900;
  color: C.$white;
}
