@use '../../styles/color' as C;
@use '../../styles/typography' as T;
@use '../../styles/utils' as U;

.header {
  background-color: C.$white;
  width: 100%;
  padding: 20px;
}

.container {
  width: 100%;
  background-color: C.$white;
}

.snapFrom {
  padding: 20px;
  background-color: C.$white;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 12px;
}
