@use '../../styles/color' as C;
@use '../../styles/typography' as T;

.container {
  width: 100%;
  padding: 20px;
}

.profile {
  border-radius: 12px;
  background-color: C.$white;
  width: 100%;
  height: 245px;
  padding: 20px;
}

.editProfileBtn {
  text-align: center;
  background-color: C.$gray200;
  padding: 5px;
  font-size: 1.4rem;
  border-radius: 4px;
}

.configBox {
  margin-top: 20px;
  width: 100%;
  background-color: C.$white;
  padding: 20px;
  border-radius: 12px;
  height: 178px;
}

.configTitle {
  @include T.gray900-bold-16;
}

.configMessage {
  @include T.gray600-regular-14;
}

.setLinkWrapper900 {
  text-align: center;
  color: C.$gray900;
  margin-top: 20px;
}

.setLinkWrapper600 {
  text-align: center;
  color: C.$gray600;
  margin-top: 20px;
}
