@use '../../styles/color' as C;
@use '../../styles/typography' as T;

.container {
  width: 100%;
  padding: 20px;
}

.profile {
  border-radius: 12px;
  background-color: C.$white;
  width: 100%;
  padding: 20px;
}

.configBox {
  margin-top: 20px;
  width: 100%;
  background-color: C.$white;
  padding: 20px;
  border-radius: 12px;
  height: 178px;
}

.bottom {
  display: flex;
  justify-content: center;
}
