@use '../../styles/color' as C;

.box {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 640px;
  width: 100%;
  height: 100dvh;
  z-index: 5000;
  background-color: #fdf3e1;
  padding: 0 64px;
}

.imgWrapper {
  width: 160px;

  @keyframes iconRotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  img {
    animation: iconRotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: C.$gray900;
  text-align: center;
  word-break: keep-all;
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 4px solid C.$babygreen;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: C.$babygreen transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
