@use '../../styles/typography' as T;
@use '../../styles/color' as C;
@use '../../styles/utils' as F;

.container {
  @include F.flex-c(row, flex-start, center);
  margin: 24px 0;
  gap: 16px;
}

.previewBox {
  background-color: C.$gray100;
  border-radius: 12px;
  text-align: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  p {
    @include T.gray600-regular-12;
    padding: 31px 28px;
  }
  img {
    object-fit: cover;
    border-radius: 12px;
  }
}

.previewClearBtn {
  @include T.gray900-bold-10;
  background-color: C.$gray200;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  left: 25%;
}

.cameraBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid C.$gray900;
}

.album {
  display: none;
}
