@use '../../styles/color' as C;
@use '../../styles/utils' as U;
@use '../../styles/typography' as T;

.container {
  width: 100%;
  height: 48px;
  padding: 8px 20px;
  @include U.flex-c(row, space-between, center);
  background-color: C.$white;
  border-bottom: 1px solid C.$gray200;
}

.backBtn {
  @include U.flex-c(row, flex-start, center);
  @include U.size(24px);
}

.noBackBtn {
  @include U.flex-c(row, flex-start, center);
  @include U.size(24px);
}

.headerTitle {
  @include U.flex-c(row, center, center);
  color: black;
}

.closeBtn {
  @include U.flex-c(row, flex-end, center);
  @include T.gray900-regular-14;
  @include U.size(24px);
}

.noCloseBtn {
  @include U.flex-c(row, flex-end, center);
  @include U.size(24px);
}
