.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  background-color: #efeae1;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
}

.distanceBox {
  padding: 10px;
  font-size: 12px;
  background-color: #eeece8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  > div {
    margin-right: 10px;
  }
}
.locationInfoBox {
  background-color: #eeece8;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  padding: 20px;
  overflow-y: scroll;
  font-size: 12px;
}
