@use '../../styles/utils' as U;
@use '../../styles/color' as C;

.modalContainer {
  position: absolute;
}

.modalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  @include U.size(100%, auto);
  max-width: 640px;
  background: C.$gray900;
  opacity: 0.2;
  z-index: 2000;
  animation-duration: 0.5s;
  animation-name: fadein;
}

.modal {
  position: fixed;
  bottom: 0;
  @include U.size(100%, auto);
  max-width: 640px;
  padding: 40px 20px 40px 20px;
  background-color: white;
  z-index: 2001;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.modalTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  > div {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 1.8rem;
  > li {
    width: fit-content;
  }
}

@keyframes slidein {
  from {
    bottom: -300%;
  }
  to {
    bottom: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.2;
  }
}
