@use '../../../styles/color' as C;
@use '../../../styles/utils' as U;

.container {
  width: 100vw;
  background-color: C.$white;
  padding: 20px 10px;
  margin: 10px 0;
  @include U.flex-c(row, center, center);
  position: relative;
  left: -20px;
  z-index: 999;
  table {
    flex-grow: 1;
  }
  td {
    width: 50px;
    height: 50px;
    text-align: center;
  }
}

.date {
  position: relative;
}

.today {
  position: absolute;
  left: 30%;
  border: 1px solid C.$gray900;
  width: 40%;
}

.dot {
  position: absolute;
  left: 44%;
  bottom: 0%;
  width: 6%;
  height: 6%;
  border: 3px solid C.$babygreen;
  border-radius: 50%;
  text-align: center;
}

.nonDot {
  height: 11px;
}
