@use '../../styles/utils' as U;
@use '../../styles/typography' as T;
@use '../../styles/color' as C;

.contentBox {
  margin: 0 20px 24px;
  background-color: C.$white;
  border-radius: 12px;
  overflow: hidden;
  @include U.box-shadow(4px);
}

.imgWrapper {
  height: 240px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textBox {
  padding: 20px;
  @include U.flex-c(column, space-between, flex-start);
  gap: 12px;
}

.text {
  width: 100%;
  background-color: C.$white;
  border: none;
  height: 100%;
}

.contentText {
  width: 100%;
  overflow-wrap: break-word;
}

.iconsBox {
  width: 100%;
  font-size: 1.4rem;
  @include T.gray600-regular-16;
  @include U.flex-c(row, space-between, center);
}

.editDeleteBox {
  @include U.flex-c(row, flex-start, center);
  font-size: 1.4rem;
  gap: 16px;
}

.icon {
  @include U.flex-c(row, flex-start, center);
  gap: 2px;
  font-size: 1.4rem;
}
