@use '../../styles/color' as C;
@use '../../styles/utils' as U;
@use '../../styles/typography' as T;

.container {
  width: 100%;
  padding: 20px;
  background-color: C.$white;
  @include U.flex-c(column, center, flex-start);
  gap: 8px;
}

.profileNicknameBox {
  @include U.flex-c(row, flex-start);
  @include T.gray900-bold-18;
  gap: 12px;
  img {
    @include U.size(64px);
    @include U.flex-c(row, center, center);
    border-radius: 50%;
    overflow: hidden;
    object-fit: fill;
  }
}

.timeBox {
  margin-top: 20px;
  @include U.flex-c(row, flex-start);
  gap: 12px;
}

.iconBoxMargin {
  @include T.gray600-regular-14;
  @include U.flex-c(row, flex-start);
  gap: 4px;
  svg {
    margin-bottom: 2px;
  }
}

.iconBox {
  @include T.gray600-regular-14;
  @include U.flex-c(row, flex-start);
  gap: 4px;
}

.editBtnBox {
  @include T.gray600-regular-14;
  @include U.flex-c(row, flex-start);
  gap: 2px;
  margin-top: 4px;
}

.formBox {
  width: 100%;
}

.message {
  @include T.gray900-bold-20;
}

.editing {
  @extend .message;
  width: 100%;
  background-color: C.$gray200;
  border-radius: 12px;
  padding: 12px 16px;
  resize: none;
}
