@use '../../styles/color' as C;
@use '../../styles/utils' as U;
@use '../../styles/typography' as T;

.headerContainer {
  gap: 16px;
  padding: 10px 20px;
  width: 100%;
  max-width: 640px;
  background: C.$white;
  z-index: 1000;
  @include U.flex-c(row, left);
}

.title {
  @include T.gray900-bold-18;
  margin-bottom: 4px;
}

.caption {
  @include T.gray600-regular-14;
  @include U.flex-c(row, left, left);
  gap: 8px;
}

.profile {
  @include U.size(48px, 48px);
  overflow: hidden;
  border-radius: 50%;
  img {
    @include U.size(100%, 100%);
    object-fit: cover;
  }
}
