@use './reset';
@use './color' as C;
@use './utils' as U;

html {
  font: 400 62.5%/1.5 Pretendard Variable, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 640px;
  font-size: 1.6rem;
  color: C.$gray900;
  background: C.$gray100;
}
