@use '../../../styles/color' as C;
@use '../../../styles/utils' as U;

.mapContainer {
  position: relative;
  border: 1px solid C.$gray200;
}

.HOME {
  @extend .mapContainer;
  width: 100%;
  height: calc(100dvh - 129px);
}

.FULL {
  @extend .mapContainer;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 100dvh;
  z-index: 5000;
}

.mapRef {
  width: 100%;
  height: 100%;
}

.btnWrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  @include U.flex-c(column);
  gap: 4px;
}
